@charset "utf-8";

#target
{

  
}

.BingoTable
{ 
	border-collapse: collapse;
  table-layout: fixed;
  width: 300px;
  margin: auto;

  background-color: #ffefff

}
.BingoTable th
{
  border: 2px #93ffff dashed;
  height: 50px;
}

.BingoTable td
{
  border: 2px #93ffff dashed;
  width: 33%;
  height: 120px;
  text-align: center;
  vertical-align: middle; 
  overflow-wrap : break-word;
}

.tdRed
{
  background-color: #ffe0e0
}
.tdBlue
{
  background-color: #e0ffff
}
.tdYellow
{
  background-color: #ffffe0
}
.tdGreen
{
  background-color: #e0ffe0
}
.tdWhite
{
  background-color: #ffffff
}

.ButtonArea
{
  margin-top: 20px;
  text-align: center;
}

.HeadArea
{
  text-align: center;
}