@charset "utf-8";

#target
{

  
}

.BingoTable
{ 
	border-collapse: collapse;
  table-layout: fixed;
  width: 300px;
  margin: auto;

}
.BingoTable th
{
  border: 1px #000000 dashed;
  height: 50px;
}

.BingoTable td
{
  border: 1px #000000 dashed;
  width: 33%;
  height: 120px;
  text-align: center;
  vertical-align: middle; 
  overflow-wrap : break-word;

}

.ButtonArea
{
  margin-top: 20px;
  text-align: center;
}

.HeadArea
{
  text-align: center;
}